@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

/* input css 설정 */
input{
    font-family: 'SCoreDream';
    font-size: 1.2em;
    width: 100%;    
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    padding: 0.5em 0.7em;
    box-sizing: border-box;
}

input::placeholder{
    font-family: 'SCoreDream';
    font-size: 15px;
}

input:focus-visible{
    outline: 1px solid #d2ddec;
}

/* 배경 설정 */
#root {
    min-width : 1400px;
    background-image: linear-gradient(
        to top,
        rgba(20, 20, 20, 0) 55%,
        rgb(20 20 20 / 25%) 65%,
        rgba(20, 20, 20, 0.5) 75%,
        hsl(0deg 0% 8% / 75%) 85%,
        rgba(20, 20, 20, 1) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 55%,
        rgb(20 20 20 / 25%) 65%,
        rgba(20, 20, 20, 0.5) 75%,
        hsl(0deg 0% 8% / 75%) 85%,
        rgba(20, 20, 20, 1) 100%
      ),
    url('/public/img/background.png') ;
    background-position:50% 50%;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/* 로그인페이지 설정 */
.login-btn {
    margin-top: 50px;
    line-height: 10px;
    display: inline-block;
    padding: 25px 50px;
    font-size: 15px;
    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-family: 'SCoreDream';
}
.login-btn__text {
    color: #DAB644;
    font-weight: 500;
    text-transform: uppercase;
    transition: 300ms ease;
    position: relative;
}
.login-btn:hover .login-btn__text {
    color: white;
}
.login-btn__solid {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: #DAB644;
    width: calc(100% - (5px * 4));
    height: calc(100% - (5px * 4));
    transform-origin: 50%;
    transform: scale(0.85);
    opacity: 0;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login-btn:hover .login-btn__solid {
    opacity: 1;
    transform: scale(1);
}
.login-btn__outline {
    position: absolute;
    top: 0;
    left: 0;
}
.login-btn__outline--tall {
    margin: 0 5px;
    width: calc(100% - (5px * 2));
    height: 100%;
}
.login-btn__outline--flat {
    margin: 5px 0;
    height: calc(100% - (5px * 2));
    width: 100%;
}
.login-btn__line {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.login-btn__line--tall:before, .login-btn__line--tall:after {
    height: 100%;
    width: 1px;
    top: 0;
}
.login-btn:hover .login-btn__outline--flat .login-btn__line--tall:before, .login-btn:hover .login-btn__outline--flat .login-btn__line--tall:after {
    transform: scaleY(0);
}
.login-btn:hover .login-btn__outline--tall .login-btn__line--tall:before, .login-btn:hover .login-btn__outline--tall .login-btn__line--tall:after {
    margin: 5px 0;
    height: calc(100% - (5px * 2));
}
.login-btn__line--tall:before {
    left: 0;
}
.login-btn__line--tall:after {
    right: 0;
}
.login-btn__line--flat:before, .login-btn__line--flat:after {
    width: 100%;
    height: 1px;
    left: 0;
}
.login-btn:hover .login-btn__outline--tall .login-btn__line--flat:before, .login-btn:hover .login-btn__outline--tall .login-btn__line--flat:after {
    transform: scaleX(0);
}
.login-btn:hover .login-btn__outline--flat .login-btn__line--flat:before, .login-btn:hover .login-btn__outline--flat .login-btn__line--flat:after {
    margin: 0 5px;
    width: calc(100% - (5px * 2));
}
.login-btn__line--flat:before {
    top: 0;
}
.login-btn__line--flat:after {
    bottom: 0;
}
.login-btn__line:before, .login-btn__line:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #DAB644;
    transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login-btn:hover .login-btn__line:before, .login-btn:hover .login-btn__line:after {
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* 메인페이지 설정 */
.home{    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.home .title{
    color: #fff;
    font-family: 'Vitro_core';
    font-size: 60px;
    margin: 0;

}
.home .button-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
    align-content: center;
    justify-content: space-evenly;
}

.home .button-box .btn{
    font-size: 30px;
    background:none;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-family: 'SCoreDream';
    text-decoration: none;
}

.home .button-box .btn-border{    
    box-shadow: inset 0 0 0 4px #fff;
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.home .button-box .btn-border::before,
.home .button-box .btn-border::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.home .button-box .btn-border::before{
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.home .button-box .btn-border::after{
    border-top-width: 4px;
    border-right-width: 4px;
}
/* 버튼 호버효과 */
.home .button-box .btn:first-child.btn-border:hover{
    color: #F89235;
}

.home .button-box .btn:first-child.btn-border:hover::before,
.home .button-box .btn:first-child.btn-border:hover::after {
    border-color: #F89235;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.home .button-box .btn:first-child.btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.home .button-box .btn:first-child.btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.home .button-box .btn:nth-child(2).btn-border:hover{
    color: #F9F871;
}
.home .button-box .btn:nth-child(2).btn-border:hover::before,
.home .button-box .btn:nth-child(2).btn-border:hover::after{
    border-color: #F9F871;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.home .button-box .btn:nth-child(2).btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.home .button-box .btn:nth-child(2).btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.home .button-box .btn-border:last-child:hover{
    color: #7EB5C7;
}
.home .button-box .btn-border:last-child:hover::before,
.home .button-box .btn-border:last-child:hover::after{
    border-color: #7EB5C7;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.home .button-box .btn:last-child.btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.home .button-box .btn:last-child.btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* modal css 설정 */
.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-self: center;
    align-items: center;
}
.modal-container .modal-overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
}
.modal-container .modal-content{
    position: relative;
    top: 0px;
    margin: 0 auto;
    border-radius: 25px 0 25px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    text-align: center;
    width: 50%;
    height: 40vh;
}
.modal-container .modal-content .modal-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #fafafa;
    width: 100%;
    overflow: auto;
    height: 10%;    
    border-radius: 25px 0 0 0;
}

.modal-container .modal-content .modal-title .close{
    position: absolute;
    margin-right: 15px;
    color: gray;
    right: 0;
}
.modal-container .modal-content .modal-title .close:hover{
    cursor: pointer;
}

.modal-container .modal-content .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
}

.modal-container .modal-content .modal-body input{
    width: 50%;
}

.modal-container .modal-content .modal-body .codeBtn{
    background: #56a351;
    border: none;
    cursor: pointer;
    padding: 0.5em 2em;
    font-family: 'SCoreDream';
    font-size: 1em;
    margin: 0.5em 0 0;
}
.modal-container .modal-content .modal-body .codeBtn{    
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.modal-container .modal-content .modal-body .codeBtn::before,
.modal-container .modal-content .modal-body .codeBtn::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.modal-container .modal-content .modal-body .codeBtn::before{
    border-bottom-width: 2px;
    border-left-width: 2px;
}
.modal-container .modal-content .modal-body .codeBtn::after{
    border-top-width: 2px;
    border-right-width: 2px;
}


.modal-container .modal-content .modal-body .codeBtn:hover{
    color: #56a351;    
    background: none;
    font-weight: 500;
}

.modal-container .modal-content .modal-body .codeBtn:hover::before,
.modal-container .modal-content .modal-body .codeBtn:hover::after {
    border-color: #56a351;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.modal-container .modal-content .modal-body .codeBtn:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.modal-container .modal-content .modal-body .codeBtn:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* 경매장 생성부분 설정 */
.create{
    min-width : 960px;
    background: #fafafa;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.create::before{
    position: absolute;
    content: open-quote;
    top: 0;
    left: 5%;
    font-size: 200px;
    font-family: 'twayair';
    color: #7c7c7c;
    line-height: 0.6em;
    height:0px;
}
.create::after{
    position: absolute;
    content: close-quote;
    right: 5%;
    font-size: 200px;
    font-family: 'twayair';
    color: #7c7c7c;
    line-height: 0.6em;
    height:0px;
}
 
.create .container{
    margin: 0 0 3em 0;
}
.create .title{
    font-size: 50px;
    font-family: 'EliceDigitalBaeum_Bold';
    line-height: 1.2;
    margin: 0.5em 0;
}

.create .container .form .form-group{    
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 1em auto;
    align-items: center;
}
.create .container .form .form-group.guide{    
    font-family: 'SCoreDream';
    text-align: right;
    width: calc(80% - 160px);
    justify-content: flex-end;
}    

.create .container .form .form-group .input-title{
    font-family: 'SCoreDream';
    font-size: 1.5em;
    letter-spacing: 0.1em;
    word-spacing: 2.8em;
}

.create .container .form .form-group .input-box{
    width: 52%;        
}

.create .container .form .point-setting .point-title{
    font-family: 'SCoreDream';
    font-size: 1.5em;
}

.create .container .form .point-setting .point-btn{
    width: 52%;   
    display: flex;
    justify-content: space-between;
}
.create .container .form .point-setting .point-btn > button{
    font-family: 'SCoreDream';
    font-size: 1.15em;
    border: 0;
    width: 180px;    
    background: #c7c7c7;
    padding: 0.2em;
    cursor: pointer;
}

.create .container .form .point-setting .point-btn > button:hover{
    background: #a3a3a3;
}
.pointModal .modal-container .modal-overlay{
    background: #000;
}
.pointModal .modal-container .modal-content .modal-body {
    width: 80%;
    margin: 0 auto;
}
.pointModal .modal-container .modal-content .modal-body .point-title{
    font-family: 'SCoreDream';
    font-size: 1.15em;
    margin: 0.5em 0 0;
}
.pointModal .modal-container .modal-content .modal-body .input-box{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    height: 100%;
}
.pointModal .modal-container .modal-content .modal-body .input-box input{
    width: 30%;
}
.pointModal .modal-container .modal-content .modal-body .btn-box button {
    margin: 0 0 25px 0;
}

.create .container .form .btn-box{
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin: 0 auto;
}
.create .btn-box button{
    background: #016CB2;
    border: none;
    cursor: pointer;
    padding: 0.5em 2em;
    font-family: 'SCoreDream';
    font-size: 1em;
    margin: 0.5em 0 0;
}
.create .btn-box .main{
    background: #D91216;
}
.create .btn-box .btn-border{    
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.create .btn-box .btn-border::before,
.create .btn-box .btn-border::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.create .btn-box .btn-border::before{
    border-bottom-width: 2px;
    border-left-width: 2px;
}
.create .btn-box .btn-border::after{
    border-top-width: 2px;
    border-right-width: 2px;
}

/* 버튼 호버효과 */
.create .btn-box .btn-border:hover{
    color: #016CB2;    
    background: none;
    font-weight: 500;
}
.create .btn-box .btn-border.main:hover{
    color: #D91216;
}
.create .btn-box .btn-border:hover::before,
.create .btn-box .btn-border:hover::after {
    border-color: #016CB2;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.create .btn-box .btn-border.main:hover::before,
.create .btn-box .btn-border.main:hover::after{
    border-color: #D91216;
}
.create .btn-box .btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.create .btn-box .btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* 선수등록부분 시작 */
.register{
    min-width: 1400px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}
.register > .title{
    color: #fff;
    font-size: 50px;
    font-family: 'EliceDigitalBaeum_Bold';
    line-height: 1.2;
    margin: 0 0 0.7em;
}
.register .container .form .form-group.guide{    
    font-family: 'SCoreDream';
    text-align: right;
    width: calc(80% - 150px);
    justify-content: flex-end;
    color: #D91216;
    font-weight: bold;
}    
.register .container .form .form-group .input-title{
    letter-spacing: 0.1em;
    text-align: left;
    width: 20%;
    word-spacing: 0;
}

/* 선수등록부분 티어선택 */
.register .container .form .form-group .tier-option{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.register .container .form .form-group .tier-option .tier-img{
    width: 66%;
}
.register .container .form .form-group .tier-option .tier-radio {
    display: flex;
    align-items: center;
    font-family: 'SCoreDream';
}
.register .container .form .form-group .tier-option .tier-radio input[type="radio"]{
    width: auto;    
    margin: 0 0.2em 0 0.8em;
    min-height:10px;
}
.register .container .form .form-group .position{
    display: flex;
    justify-content: space-between;
}
.register .container .form .form-group .position .position-radio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.register .container .form .form-group .position .position-radio input[type="radio"]{
    margin: 0 0 0.3em 0;
    min-height:10px;
}
.register .container .form .form-group .position .position-radio img{
    max-width: 40px;
}
.register .container .form .form-group .champion-opction .champions-img{
    max-width: 75px;
    width: 100%;
}

/* 경매참가 페이지 */
.join{
    min-width: 1400px;
    width:85%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.join .title{
    color: #fff;
    font-size: 50px;
    font-family: 'EliceDigitalBaeum_Bold';
    line-height: 1.2;
    margin: 0;
}
.join .container{    
    display: flex;
    justify-content: space-evenly;;
    height: 70vh;
}
.join .auction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background: rgba(255,255,255,0.5);
    padding: 15px 0;
}

.join .auction .palyer{
    background: #fff;
    height: 35%;
    margin: 0 20px;
    font-family: "SCoreDream";
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
    flex-wrap: wrap;
    align-items: center;
}
.join .auction .palyer .player-info{    
    max-width: 140px;
    width: 100%;
    text-align: center;
}
.join .auction .palyer .player-info span{
    max-width: 85px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
.join .auction .palyer .player-info .tier-img,
.join .auction .palyer .player-info .position-img,
.join .auction .palyer .player-info .champion-img{
    height: 4vh;
}
.join .auction .palyer .player-info .position-img{
    margin: 0 0 0 5px;
}
.join .auction .palyer .player-info .img-box{
    display: flex;
    justify-content: space-between;
}

.join .auction .chat-container{
    height: 40%;
    background: rgba(0,0,0,0.5);
    padding: 0 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
}
.join .auction .chat-container .chat-box{
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0.5em 0 0.5em 0.5em;
    color: #fff;
    box-sizing: border-box;
}
.join .auction .chat-container .chat-box::-webkit-scrollbar{
    width: 8px;
}
.join .auction .chat-container .chat-box::-webkit-scrollbar-thumb{
    background: #6a6a6a;
}
.join .auction .chat-container .chat-box::-webkit-scrollba-track {
    background: rgba(0, 0, 0, 0); 
}

.join .auction .chat-container .chat-box .message{
    font-family: "SCoreDream";
    font-size: 18px;
    font-weight: 100;
    word-break: keep-all;
}
.join .auction .chat-container .auction-info{
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;  
    align-content: center;
    justify-content: center;
    width: 35%;
    height: 50%;
    background: #fff;    
    font-family: 'EliceDigitalBaeum_Bold';
    font-size: 18px;
}
.join .auction .auction-form{
    margin: 0 20px;
}
.join .auction .auction-form input{
    border-radius: 0;
    padding: 0.35em 0.7em;
    margin: 0 0 10px 0;
}

.join .auction .auction-form input:focus-visible{
    outline: 0;
}

.join .auction .auction-form .btn-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.join .auction .auction-form .btn-box > button{
    font-family: "SCoreDream";
    font-weight: 600;
    font-size: 20px;
    min-width: 70px;
    height: 4vh;
    border: 0;
    cursor: pointer;
    background: #fff;
}
.join .auction .auction-form .btn-box > button:hover{
    background: #e2e2e2;
}

.join .auction .auction-form .admin-form .admin-btn{
    justify-content: flex-end;
}
.join .auction .auction-form .admin-form input{
    margin: 10px 0;
}
.join .auction .auction-form .admin-form .admin-btn > button{
    padding: 0 1em;    
    font-size: 16px;
    height: 4vh;
}
.join .auction .auction-form .admin-form .admin-btn > .start,
.join .auction .auction-form .admin-form .admin-btn > .pause{
    margin: 0 0 0 1em;
}
.join .auction .auction-form .admin-form .admin-btn > .start,
.join .auction .auction-form .btn-box > button.buy{
    color: #fff;
    background: #9147ff;
}
.join .auction .auction-form .admin-btn > .start:hover,
.join .auction .auction-form .btn-box > button.buy:hover{
    background: #6D36BF;
}

.join .auction .auction-form .admin-form .admin-btn > .pause{
    background: #FEDD14;
}

.join .team{
    width: 42%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join .team .player-board, .join .team .team-board{
    background: rgba(255,255,255,0.5);
    height:45%;
    overflow: hidden;
    overflow-y: auto;
    text-align: left;
}

.join .team .player-board::-webkit-scrollbar,
.join .team .team-board::-webkit-scrollbar{
    width: 8px;
}

.join .team .player-board::-webkit-scrollbar-thumb,
.join .team .team-board::-webkit-scrollbar-thumb {
    background: #6a6a6a;
}

.join .team .player-board::-webkit-scrollbar-track,
.join .team .team-board::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); 
}

.join .team .team-list{
    display: flex;
    align-items: flex-start;
}

.join .team .team-board .team-list .leader .point{
    font-size: 15px;
}
.join .team .team-board .team-list .player{
    font-size: 16px;
}
.join .team .team-board .team-list .leader{
    font-size: 18px;
}
.join .team .player-board .player{
    display:inline-block;
    font-family: "SCoreDream";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 0 1em 0;
}
.join .team .player-board .player .emoji{
    font-size: 70px;
}