@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'locus_sangsang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

/* 배경 설정 */
#root {
    background-image: linear-gradient(
        to top,
        rgba(20, 20, 20, 0) 55%,
        rgb(20 20 20 / 25%) 65%,
        rgba(20, 20, 20, 0.5) 75%,
        hsl(0deg 0% 8% / 75%) 85%,
        rgba(20, 20, 20, 1) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 55%,
        rgb(20 20 20 / 25%) 65%,
        rgba(20, 20, 20, 0.5) 75%,
        hsl(0deg 0% 8% / 75%) 85%,
        rgba(20, 20, 20, 1) 100%
      ),
    url('/public/img/background.png') ;
    background-position:50% 50%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/* 메인페이지 설정 */
.home{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.home .title{
    color: #fff;
    font-family: 'Vitro_core';
    font-size: 60px;
    margin: 0;

}
.home .button-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
    align-content: center;
    justify-content: space-evenly;
}

.home .button-box a.btn{
    font-size: 30px;
    background:none;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-family: 'SCoreDream';
    text-decoration: none;
}

.home .button-box a.btn-border{    
    box-shadow: inset 0 0 0 4px #fff;
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.home .button-box a.btn-border::before,
.home .button-box a.btn-border::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.home .button-box a.btn-border::before{
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.home .button-box a.btn-border::after{
    border-top-width: 4px;
    border-right-width: 4px;
}
/* 버튼 호버효과 */
.home .button-box a:first-child.btn-border:hover{
    color: #F89235;
}

.home .button-box a:first-child.btn-border:hover::before,
.home .button-box a:first-child.btn-border:hover::after {
    border-color: #F89235;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.home .button-box a:first-child.btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.home .button-box a:first-child.btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.home .button-box a:nth-child(2).btn-border:hover{
    color: #F9F871;
}
.home .button-box a:nth-child(2).btn-border:hover::before,
.home .button-box a:nth-child(2).btn-border:hover::after{
    border-color: #F9F871;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.home .button-box a:nth-child(2).btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.home .button-box a:nth-child(2).btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.home .button-box a.btn-border:last-child:hover{
    color: #7EB5C7;
}
.home .button-box a.btn-border:last-child:hover::before,
.home .button-box a.btn-border:last-child:hover::after{
    border-color: #7EB5C7;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.home .button-box a:last-child.btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.home .button-box a:last-child.btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* 경매장 생성부분 설정 */
.create{
    background: #EFECDF;
    width: 55%;
    margin: 0 auto;
    position: relative;
}

.create::before{
    position: absolute;
    content: open-quote;
    top: 0;
    left: 5%;
    font-size: 200px;
    font-family: 'twayair';
    color: #7c7c7c;
    line-height: 0.6em;
}
.create::after{
    position: absolute;
    content: close-quote;
    right: 5%;
    font-size: 200px;
    font-family: 'twayair';
    color: #7c7c7c;
    line-height: 0.6em;
}
 
.create .container{
    margin: 0 0 3em 0;
}
.create .title{
    font-size: 50px;
    font-family: 'EliceDigitalBaeum_Bold';
    line-height: 1.2;
}

.create .container .form .form-group{    
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto 1em;
    align-items: center;
}

.create .container .form .form-group .input-title{
    font-family: 'locus_sangsang';
    font-size: 1.5em;
    letter-spacing: 0.1em;
    word-spacing: 4.2em;
}


.create .container .form .form-group input{
    font-family: 'locus_sangsang';
    font-size: 1.2em;
    width: 50%;    
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    padding: 0.2em 0.5em;
}
.create .container .form .form-group input:focus-visible{
    outline: 1px solid #d2ddec;
}

.create .container .form button{
    background: #56a351;
    border: none;
    cursor: pointer;
    padding: 0.5em 2em;
    font-family: 'SCoreDream';
    font-size: 1em;
}
.create .container .form .btn-border{    
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.create .container .form .btn-border::before,
.create .container .form .btn-border::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.create .container .form .btn-border::before{
    border-bottom-width: 2px;
    border-left-width: 2px;
}
.create .container .form .btn-border::after{
    border-top-width: 2px;
    border-right-width: 2px;
}

/* 버튼 호버효과 */
.create .container .form .btn-border:hover{
    color: #56a351;    
    background: none;
    font-weight: 500;
}

.create .container .form .btn-border:hover::before,
.create .container .form .btn-border:hover::after {
    border-color: #56a351;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.create .container .form .btn-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.create .container .form .btn-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* 선수등록부분 시작 */
.register .container .form .form-group .input-title{
    letter-spacing: 0.1em;
    text-align: left;
    width: 20%;
    word-spacing: 0;
}

/* 선수등록부분 티어선택 */
.register .container .form .form-group .tier-option{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 54%;
}
.register .container .form .form-group .tier-option .tier-img{
    height: 5vh;
}
.register .container .form .form-group .tier-option .tier-radio input[type="radio"]{
    width: auto;    
    margin: 0 0.3em 0 0.8em;

}